#!/bin/bash
set -euo pipefail

SQL_SERVER=__SQL_SERVER_Q__
SQL_DATABASE=__SQL_DATABASE_Q__
SQL_USERNAME=__SQL_USERNAME_Q__
SQL_PASSWORD=__SQL_PASSWORD_Q__

sqlcmd \
  -S "$SQL_SERVER" \
  -d "$SQL_DATABASE" \
  -U "$SQL_USERNAME" \
  -P "$SQL_PASSWORD" \
  -C -y 22 -Y 22 \
  -Q __SQL_QUERY_Q__
