SQL_SERVER: !var data/vault/__SAFE_NAME__/__ACCOUNT_NAME__/address
DB_USERNAME: !var data/vault/__SAFE_NAME__/__ACCOUNT_NAME__/username
DB_PASSWORD: !var data/vault/__SAFE_NAME__/__ACCOUNT_NAME__/password
