apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: conjur
  namespace: {{ .Values.namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    # This name must match the metadata.name in the `SecretStore`
    name: conjur
    kind: SecretStore
  data:
    - secretKey: username
      remoteRef:
        key: {{ .Values.sm_k8_secret_id_1 }}
    - secretKey: password
      remoteRef:
        key: {{ .Values.sm_k8_secret_id_2 }}
